server:
  port: 4000

management:
  endpoint:
    health:
      show-details: "always"
      probes:
        enabled: true
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus
  health:
    case-document-am-api:
      enabled: true
spring:
  application:
    name: civil-service
  main:
    allow-bean-definition-overriding: true
  cache:
    cache-names: userInfoCache, accessTokenCache
    caffeine:
      spec: expireAfterWrite=3600s
  datasource:
    driverClassName: org.postgresql.Driver
    username: ${CMC_DB_USERNAME:-}
    password: ${CMC_DB_PASSWORD:-}
    url: jdbc:postgresql://${CMC_DB_HOST:}:${CMC_DB_PORT:}/${CMC_DB_NAME:cmc}${CMC_DB_CONNECTION_OPTIONS:}

  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: ${idam.web.url}/o
        registration:
          oidc:
            client-id: internal
            client-secret: internal
  flyway:
    enabled: ${REFERENCE_DATABASE_MIGRATION:true}
oidc:
  issuer: ${OIDC_ISSUER:http://fr-am:8080/openam/oauth2/hmcts}

fees:
  api:
    service: civil money claims
    jurisdiction1: civil
    jurisdiction2: county court
    channel: default
    event: issue

payments:
  api:
    site_id: AAA7
    service: CIVIL

idam:
  s2s-auth:
    microservice: civil_service

document_management:
  userRoles: "caseworker-civil,caseworker-civil-solicitor"
  secured: true

bankHolidays:
  api:
    url: https://www.gov.uk

nonworking-days:
  datafile: /data/non-working_days.dat

civil:
  response-pack-url: https://formfinder.hmctsformfinder.justice.gov.uk/n9-eng.pdf
  system-update:
    username: ${CIVIL_SYSTEM_UPDATE_USERNAME:civil-system-update@mailnesia.com}
    password: ${CIVIL_SYSTEM_UPDATE_PASSWORD:Password12!}
  prd-admin:
    username: ${CIVIL_PRD_ADMIN_USERNAME:civil.prd.admin@example.com}
    password: ${CIVIL_PRD_ADMIN_PASSWORD:Password12!}
  cross-access:
    username: ${CIVIL_CROSS_ACCESS_USERNAME:caseworker-caa@mailnesia.com}
    password: ${CIVIL_CROSS_ACCESS_PASSWORD:Password12!}
  test-user:
    username: ${TEST_USERNAME:test@example.com}
    password: ${TEST_PASSWORD:Password12!}

core_case_data:
  api:
    url: http://localhost:4452
role-assignment-service:
  api:
    url: http://localhost:4096
case_document_am:
  url: ${CASE_DOCUMENT_AM_URL:http://localhost:4455}
reference:
  database:
    enabled: true
    migration: false

notifications:
  breathingSpaceEnterDefendantEmailTemplate: "3988a0c6-5a4f-46d2-9a46-15f95f0ae4eb"
  breathingSpaceEnterApplicantEmailTemplate: "31a06373-1eea-4faa-ba3d-4110821a65af"
  govNotifyApiKey: ${GOV_NOTIFY_API_KEY:}
  respondentSolicitorClaimIssueMultipartyEmailTemplate: "97ffda16-0d55-49fc-ade4-36f023cdad23"
  respondentSolicitorClaimDetailsEmailTemplateMultiParty: "6cce54b7-4cf0-4770-9dca-db1a38226f1e"
  solicitorDefendantResponseCaseTakenOffline: "c865678e-66a5-4249-8ab6-65de962c5211"
  claimantSolicitorDefendantResponseFullDefence: "64c1ce3c-1b2a-4959-914b-38cceb6ae195"
  solicitorDefendantResponseCaseTakenOfflineMultiparty: "d6b33ddd-833e-46ed-9887-c86e929d140b"
  respondentSolicitorAcknowledgeClaim: "3ae4b5d8-6e73-4d72-9ae6-ff25f4941cdb"
  failedPayment: "d6a28ba8-7496-4b13-bf1b-b821c61fdae6"
  solicitorClaimDismissed: "b5b38ee3-863b-428d-b893-a440c82b6212"
  claimantSolicitorCaseWillProgressOffline: "f92cc2fa-ede1-40c4-99ff-22d912ab7fe7"
  claimantSolicitorAgreedExtensionDate: "97421dfb-f2d7-43c0-8525-e0d045e17d10"
  claimantSolicitorConfirmsToProceed: "cd08fe4c-24a2-4353-adb0-1aef8e41fbcf"
  claimantSolicitorConfirmsNotToProceed: "2d09dbed-f0d1-4d81-b72a-22c3fbfc649e"
  claimantSolicitorClaimContinuingOnline: "7b30d4cb-c930-4409-aba6-f6d6cf14e376"
  solicitorCaseTakenOffline: "a2c8a2d4-da8c-4477-b1ed-4399dfbd2424"
  solicitorLitigationFriendAdded: "9fbbd0fd-4d61-439b-9f08-2935687b2791"
  claimantSolicitorClaimContinuingOnlineForSpec: "cbc491af-e194-4582-934e-329f815d897d"
  respondentSolicitorClaimContinuingOnlineForSpec: "4b072a91-ff2c-4d64-a744-103d0b69152f"
  failedPaymentForSpec: "3b3e1135-5c89-4290-85df-67c566f75c88"
  solicitorCaseTakenOfflineForSpec: "e2d66249-3cc7-47ff-95d4-e476dbac30a0"
  applicantSolicitorAcknowledgeClaimForSpec: "a33e1b0a-42d8-46b2-8773-6fd84a9b8b01"
  respondentSolicitorAcknowledgeClaimForSpec: "16b86d3b-f370-4dc1-b25b-871e7470ebf1"
  claimantSolicitorAgreedExtensionDateForSpec: "74e33576-487f-4c63-bdef-fe12c4279faa"
  respondentSolicitorAgreedExtensionDateForSpec: "fbf3ed5e-3726-4009-8561-f856fb5dbda0"
  claimantSolicitorDefendantResponseForSpec: "635e7509-9fb6-4c80-9f0b-0476f96aad5c"
  respondentSolicitorDefendantResponseForSpec: "9527f77e-b346-4527-b93c-c2affd39fa51"
  sdoOrdered: "1518a883-d035-46c8-9dc0-a52538ca4545"
  applicantSolicitor1DefaultJudgmentReceived: "14a43ad4-e337-490a-bf8b-1288520dc9eb"
  respondentSolicitor1DefaultJudgmentReceived: "25fdb679-7f34-4717-ad4d-80f8562bc7b2"

sendgrid:
  api-key: ${SENDGRID_API_KEY:false}

os-postcode-lookup:
  url: https://api.os.uk/search/names/v1/find
  key: ${OS_POSTCODE_LOOKUP_API_KEY:}
  offline-mode: false

stitching:
  api:
    url: "${EM_CCD_ORCHESTRATOR_URL:http://localhost:8084}/api/stitch-ccd-bundles"

launchdarkly:
  sdk-key: ${LAUNCH_DARKLY_SDK_KEY:}
  offline-mode: false
  env: ${LAUNCH_DARKLY_ENV:default}

testing:
  support:
    enabled: ${TESTING_SUPPORT_ENABLED:false}

exit-survey:
  applicant-link: https://www.smartsurvey.co.uk/s/CivilDamages_ExitSurvey_Claimant/
  respondent-link: https://www.smartsurvey.co.uk/s/CivilDamages_ExitSurvey_Defendant/

---

spring:
  config:
    activate:
      on-profile: local

  datasource:
    driverClassName: org.postgresql.Driver
    username: ${CMC_DB_USERNAME:ccd}
    password: ${CMC_DB_PASSWORD:ccd}
    url: jdbc:postgresql://${CMC_DB_HOST:localhost}:${CMC_DB_PORT:5050}/${CMC_DB_NAME:cmc}

feign:
  client:
    config:
      remoteRuntimeService:
        url: http://localhost:9404/engine-rest/
      remoteRepositoryService:
        url: http://localhost:9404/engine-rest/
      remoteExternalTaskService:
        url: http://localhost:9404/engine-rest/
      idam-api:
        loggerLevel: full
      core-case-data-api:
        loggerLevel: full
      document-management-metadata-download-api:
        loggerLevel: full
fees:
  api:
    url: http://localhost:8765

payments:
  api:
    url: http://localhost:8765

idam:
  web:
    url: http://localhost:9002
  api:
    url: http://localhost:5000
  s2s-auth:
    url: http://localhost:4502
    totp_secret: AABBCCDDEEFFGGHH
  client:
    id: civil
    redirect_uri: https://localhost:9000/oauth2/callback
    secret: OOOOOOOOOOOOOOOO

document_management:
  url: http://localhost:3453

docmosis:
  tornado:
    url: http://localhost:5433

sendgrid:
  api-key: ${SENDGRID_API_KEY:false}

launchdarkly:
  sdk-key: ${LAUNCH_DARKLY_SDK_KEY:fake-key}

testing:
  support:
    enabled: true

rd_professional:
  api:
    url: http://localhost:8765

robotics:
  notification:
    sender: hmcts.civil@gmail.com
    recipient: hmcts.civil+robotics@gmail.com
    multipartyrecipient: hmcts.civil.multiparty.robotics@gmail.com
---

spring:
  config:
    activate:
      on-profile: integration-test

  main:
    lazy-initialization: true

management:
  endpoints:
    enabled-by-default: false

fees:
  api:
    url: http://fake-fees-register-api

payments:
  api:
    url: http://fake-payment-register-api

idam:
  web:
    url: http://fake-idam-web
  api:
    url: http://fake-idam-api
  s2s-auth:
    url: http://fake-service-auth-provider-api
    totp_secret: AABBCCDDEEFFGGHH

core_case_data:
  api:
    url: http://fake-ccd-data-store-api

reference:
  database:
    enabled: false

document_management:
  url: http://fake-document-management-api

docmosis:
  tornado:
    url: http://fake-docmosis-api
    key: fake-key

feign:
  client:
    config:
      remoteRuntimeService:
        url: http://fake/engine-rest/
      remoteRepositoryService:
        url: http://fake/engine-rest/
      remoteExternalTaskService:
        url: http://fake/engine-rest/

notifications:
  govNotifyApiKey: some-gov-uk-notify-api-key

testing:
  support:
    enabled: true

rd_professional:
  api:
    url: http://fake-prd-api

sendgrid:
  api-key: fake-key
---

spring:
  config:
    activate:
      on-profile: idam-stub

idam:
  web:
    url: http://ccd-test-stubs-service:5555
  api:
    url: http://ccd-test-stubs-service:5555
