apiVersion: v2
description: A Helm chart for civil-service App
name: civil-service
home: https://github.com/hmcts/civil-service
version: 0.0.11
maintainers:
  - name: HMCTS Civil team

dependencies:
  - name: java
    version: 3.7.1
    repository: '@hmctspublic'
  - name: ccd
    version: 7.0.0
    repository: '@hmctspublic'
    tags:
      - civil-ccd-stack
  - name: xui-webapp
    version: ~0.2.16
    repository: '@hmctspublic'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: ~2.2.3
    repository: '@hmctspublic'
    condition: idam-pr.enabled
  - name: postgresql
    version: ~8.9.8
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: camunda-bpm
    version: 0.0.18
    repository: '@hmctspublic'
    condition: camunda-bpm.enabled
