apiVersion: v2
description: A Helm chart for civil-service App
name: civil-service
home: https://github.com/hmcts/civil-service
version: 0.0.86
maintainers:
  - name: HMCTS Civil team

dependencies:
  - name: java
    version: 5.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: ccd
    version: 9.2.2
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccd.enabled
  - name: xui-webapp
    version: 1.0.31
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: ~2.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: idam-pr.enabled
  - name: camunda-bpm
    version: 0.0.48
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: camunda-bpm.enabled
  - name: aac-manage-case-assignment
    version: 0.2.19
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: aac-manage-case-assignment.enabled
  - name: wiremock
    version: 0.0.5
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: wiremock.enabled
  - name: civil-general-applications
    version: 0.0.73
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: civil-general-applications.enabled
  - name: ccd-case-document-am-api
    version: 1.7.17
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: ccd-case-document-am-api.enabled
  - name: em-ccdorc
    version: 2.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: em-ccdorc.enabled
  - name: em-stitching
    version: 1.1.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: em-stitching.enabled
