
idam-pr:
  enabled: false

xui-webapp:
  enabled: false

camunda-bpm:
  enabled: false

aac-manage-case-assignment:
  enabled: false
ccd:
  enabled: false
java:
  applicationPort: 4000
  image: 'hmctspublic.azurecr.io/civil/service:latest'
  ingressHost: civil-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: civil
  environment:
    LAUNCH_DARKLY_ENV: '{{ .Values.global.environment }}'
    IDAM_CLIENT_ID: civil-service
    IDAM_CLIENT_REDIRECT_URI: https://civil-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_WEB_URL: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CORE_CASE_DATA_API_URL: http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    MANAGE_CASE_UI_BASE_URL: https://manage-case.{{ .Values.global.environment }}.platform.hmcts.net
    ACA_SERVICE_API_BASEURL: http://aac-manage-case-assignment-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SPRING_SECURITY_ENABLED: true
    CMC_DB_CONNECTION_OPTIONS: '?sslmode=require&gssEncMode=disable'
    CMC_DB_NAME: cmc
    CMC_DB_PORT: 5432
    REFERENCE_DATABASE_MIGRATION: false
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}.internal:8443/openam/oauth2/hmcts
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net/o/jwks
    AUTH_IDAM_CLIENT_BASEURL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-{{ .Values.global.environment }}.internal:8443/openam/oauth2/realms/root/realms/hmcts
    FEES_API_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    GENAPP_LRD_URL: http://rd-location-ref-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    GENAPP_JRD_URL: http://rd-judicial-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PAYMENTS_API_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SERVICE_REQUEST_UPDATE: http://civil-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/service-request-update
    SERVICE_REQUEST_UPDATE_CLAIM_ISSUED: http://civil-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/service-request-update-claim-issued
    DOCMOSIS_TORNADO_URL: https://docmosis.{{ .Values.global.environment }}.platform.hmcts.net
    SEND_LETTER_URL: http://rpe-send-letter-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DOCUMENT_MANAGEMENT_URL: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CLAIM_STORE_URL: http://cmc-claim-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    HMC_API_URL: http://hmc-cft-hearing-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CUI_URL: https://civil-citizen-ui.{{ .Values.global.environment }}.platform.hmcts.net
    CUI_URL_RESPOND_TO_CLAIM: https://civil-citizen-ui.{{ .Values.global.environment }}.platform.hmcts.net/first-contact/start
    FEIGN_CLIENT_CONFIG_REMOTERUNTIMESERVICE_URL: http://camunda-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/engine-rest/
    FEIGN_CLIENT_CONFIG_REMOTEEXTERNALTASKSERVICE_URL: http://camunda-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/engine-rest/
    FEIGN_CLIENT_CONFIG_REMOTEREPOSITORYSERVICE_URL: http://camunda-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/engine-rest/
    SPRING_CLOUD_BOOTSTRAP_ENABLED: true
    RD_PROFESSIONAL_API_URL: http://rd-professional-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    RD_COMMONDATA_API_URL: http://rd-commondata-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    EM_CCD_ORCHESTRATOR_URL: http://em-ccd-orchestrator-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SOME_ENV_VARIABLE: true
    DOCUMENT_MANAGEMENT_SECURED: true
    REST_TEMPLATE_TIMEOUT: 30000
    POLLING_EVENT_EMITTER_ENABLED: false
    WA_TOGGLE: Prod
    HMC_HEARINGS_TOPIC_NAMESPACE: 'hmc-servicebus-{{ .Values.global.environment }}'
    HMC_HEARINGS_TOPIC_NAME: 'hmc-to-cft-{{ .Values.global.environment }}'
    HMC_HEARINGS_TOPIC_SUBSCRIPTION_NAME: 'hmc-to-civil-subscription-{{ .Values.global.environment }}'
    HMC_HEARINGS_TOPIC_POLICY_NAME: SendAndListenSharedAccessKey
    HMC_HEARINGS_SUBSCRIPTION_ENABLED: false
    HMC_HEARINGS_TOPIC_THREAD_COUNT: 4
    ASYNC_HANDLER_CORE_POOL_SIZE: 7
    ASYNC_HANDLER_MAX_POOL_SIZE: 42
    ASYNC_HANDLER_QUEUE_CAPACITY: 10

  keyVaults:
    civil:
      resourceGroup: civil
      secrets:
        - cmc-db-password-v15
        - cmc-db-username-v15
        - cmc-db-host-v15
        - civil-idam-client-secret
        - microservicekey-civil-service
        - system-update-user-username
        - system-update-user-password
        - cross-access-user-username
        - cross-access-user-password
        - prd-admin-user-username
        - prd-admin-user-password
        - appinsights-connection-string
        - docmosis-api-key
        - gov-notify-api-key
        - sendgrid-api-key
        - robotics-notification-sender
        - robotics-notification-recipient
        - launch-darkly-sdk-key
        - robotics-notification-multipartyrecipient
        - robotics-notification-recipient-spec
        - robotics-notification-recipient-lipj
        - ordnance-survey-api-key
        - notification-caseworker-spec-receiver
        - mediation-notification-sender
        - mediation-notification-recipient
        - name: hmc-servicebus-shared-access-key-tf
          alias: HMC_HEARINGS_TOPIC_ACCESS_KEY
