
idam-pr:
  enabled: false

xui-webapp:
  enabled: false

camunda-bpm:
  enabled: false

servicebus:
  enabled: false

aac-manage-case-assignment:
  enabled: false

ccd:
  enabled: false

ccd-case-document-am-api:
  enabled: false

em-ccdorc:
  enabled: false

em-stitching:
  enabled: false

wiremock:
  enabled: false
