java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_NAME}.preview.platform.hmcts.net
  devcpuRequests: 500m
  devmemoryRequests: 2048Mi
  devmemoryLimits: 4096Mi
  environment:
    CORE_CASE_DATA_API_URL: http://${SERVICE_NAME}-ccd-data-store-api
    OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
    CMC_DB_HOST: ${SERVICE_NAME}-postgresql
    CMC_DB_USERNAME: ${POSTGRES_USER}
    CMC_DB_PASSWORD: ${POSTGRES_PASSWORD}
    CMC_DB_CONNECTION_OPTIONS: '?sslmode=allow'
    REFERENCE_DATABASE_MIGRATION: true
    EM_CCD_ORCHESTRATOR_URL: http://${SERVICE_NAME}-em-ccdorc
    CAMUNDA_URL: http://${SERVICE_NAME}-camunda/engine-rest/
    SERVICE_REQUEST_UPDATE: https://${SERVICE_NAME}.preview.platform.hmcts.net/service-request-update
    SERVICE_REQUEST_UPDATE_CLAIM_ISSUED: https://${SERVICE_NAME}.preview.platform.hmcts.net/service-request-update-claim-issued
    LAUNCH_DARKLY_ENV: aat
    TESTING_SUPPORT_ENABLED: true
    POLLING_EVENT_EMITTER_ENABLED: true
    CASE_DOCUMENT_AM_URL:  http://${SERVICE_NAME}-cdam
    STITCHING_API_ENABLED: true
    ACA_SERVICE_API_BASEURL: http://${SERVICE_NAME}-aac-manage-case-assignment
    HMC_HEARINGS_SUBSCRIPTION_ENABLED: false
    HMC_API_URL: http://${SERVICE_NAME}-wiremock
    ROLE_ASSIGNMENT_URL: http://am-role-assignment-service-aat.service.core-compute-aat.internal
    ROLE_INITIALISATION_ENABLED: true
    CASE_FLAGS_LOGGING_ENABLED: true
    COURT_LOCATION_WA_DMN_ENABLED: true
    CCD_EVENTS_TOPIC_NAME: ${SERVICE_NAME}-asb-ccd-case-events
    CCD_EVENTS_SUBSCRIPTION_NAME: ${SERVICE_NAME}-asb-ccd-case-events
    CCD_EVENTS_SERVICE_BUS_CONCURRENT_SESSIONS: 1
    CCD_EVENTS_SUBSCRIPTION_ENABLED: true
    CCD_EVENTS_SUBSCRIPTION_RETRY_DURATION: 60
  keyVaults:
    civil:
      resourceGroup: civil
      secrets:
        - name: civil-idam-client-secret
          alias: CIVIL_CLIENT_SECRET
        - name: microservicekey-civil-service
          alias: idam.s2s-auth.totp_secret
        - name: system-update-user-username
          alias: CIVIL_SYSTEM_UPDATE_USERNAME
        - name: system-update-user-password
          alias: CIVIL_SYSTEM_UPDATE_PASSWORD
        - name: cross-access-user-username
          alias: CIVIL_CROSS_ACCESS_USERNAME
        - name: cross-access-user-password
          alias: CIVIL_CROSS_ACCESS_PASSWORD
        - name: prd-admin-user-username
          alias: CIVIL_PRD_ADMIN_USERNAME
        - name: prd-admin-user-password
          alias: CIVIL_PRD_ADMIN_PASSWORD
        - name: docmosis-api-key
          alias: docmosis.tornado.key
        - name: gov-notify-api-key
          alias: GOV_NOTIFY_API_KEY
        - name: sendgrid-api-key
          alias: SENDGRID_API_KEY
        - name: robotics-notification-sender
          alias: robotics.notification.sender
        - name: robotics-notification-recipient
          alias: robotics.notification.recipient
        - name: launch-darkly-sdk-key-non-prod
          alias: LAUNCH_DARKLY_SDK_KEY
        - name: robotics-notification-multipartyrecipient
          alias: robotics.notification.multipartyrecipient
        - name: robotics-notification-recipient-spec
          alias: robotics.notification.specRecipient
        - name: robotics-notification-recipient-lipj
          alias: robotics.notification.lipJRecipient
        - name: ordnance-survey-api-key
          alias: OS_POSTCODE_LOOKUP_API_KEY
        - name: notification-caseworker-spec-receiver
          alias: notification.caseworker.spec.receiver
        - name: mediation-notification-sender
          alias: mediation.emails.sender
        - name: mediation-notification-recipient
          alias: mediation.emails.recipient
        - name: hmc-servicebus-shared-access-key-tf
          alias: HMC_HEARINGS_TOPIC_ACCESS_KEY
        - name: ccd-shared-servicebus-connection-string
          alias: CCD_EVENTS_TOPIC_CONNECTION_STRING
  postgresql:
    enabled: true
    image:
      registry: hmctspublic.azurecr.io
      repository: imported/bitnami/postgresql
      tag: '11.6.0'
    primary:
      persistence:
        enabled: false
      resources:
        requests:
          cpu: 25m
      initdb:
        scripts:
          init.sql: |
            CREATE DATABASE cmc WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "data-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "definition-store" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "camunda" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "role_assignment" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
            CREATE DATABASE "emstitch" WITH OWNER = hmcts ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
    auth:
      username: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}
idam-pr:
  releaseNameOverride: ${SERVICE_NAME}-xui-idam-pr
  enabled: true
  redirect_uris:
    XUI:
      - https://xui-${SERVICE_NAME}.preview.platform.hmcts.net/oauth2/callback

civil-general-applications:
  enabled: true
  java:
    image: 'hmctspublic.azurecr.io/civil/general-applications:latest'
    imagePullPolicy: Always
    ingressHost: ga-${SERVICE_FQDN}
    releaseNameOverride: ${SERVICE_NAME}-ga
    keyVaults:
      civil:
        resourceGroup: civil
        secrets:
          - name: civil-idam-client-secret
            alias: idam.client.secret
          - name: microservicekey-civil-service
            alias: idam.s2s-auth.totp_secret
          - name: system-update-user-username
            alias: CIVIL_SYSTEM_UPDATE_USERNAME
          - name: system-update-user-password
            alias: CIVIL_SYSTEM_UPDATE_PASSWORD
          - name: cross-access-user-username
            alias: CIVIL_CROSS_ACCESS_USERNAME
          - name: cross-access-user-password
            alias: CIVIL_CROSS_ACCESS_PASSWORD
          - name: prd-admin-user-username
            alias: CIVIL_PRD_ADMIN_USERNAME
          - name: prd-admin-user-password
            alias: CIVIL_PRD_ADMIN_PASSWORD
          - name: docmosis-api-key
            alias: docmosis.tornado.key
          - name: gov-notify-api-key
            alias: GOV_NOTIFY_API_KEY
          - name: sendgrid-api-key
            alias: SENDGRID_API_KEY
          - name: robotics-notification-sender
            alias: robotics.notification.sender
          - name: robotics-notification-recipient
            alias: robotics.notification.recipient
          - name: launch-darkly-sdk-key-non-prod
            alias: launch-darkly-sdk-key
          - name: robotics-notification-multipartyrecipient
            alias: robotics.notification.multipartyrecipient
      civil-gen-apps:
        resourceGroup: civil
        secrets:
          - name: microservicekey-civil-general-applications
            alias: idam.s2s-auth.totp_secret
    environment:
      CORE_CASE_DATA_API_URL: http://${SERVICE_NAME}-ccd-data-store-api
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
      REFERENCE_DATABASE_MIGRATION: false
      FEIGN_CLIENT_CONFIG_REMOTERUNTIMESERVICE_URL: http://${SERVICE_NAME}-camunda/engine-rest/
      FEIGN_CLIENT_CONFIG_REMOTEEXTERNALTASKSERVICE_URL: http://${SERVICE_NAME}-camunda/engine-rest/
      FEIGN_CLIENT_CONFIG_REMOTEREPOSITORYSERVICE_URL: http://${SERVICE_NAME}-camunda/engine-rest/
      LAUNCH_DARKLY_ENV: ${SERVICE_FQDN}
      GENAPP_LRD_URL: http://rd-location-ref-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      PAY_CALLBACK_URL: https://${SERVICE_NAME}.preview.platform.hmcts.net/service-request-update
      TESTING_SUPPORT_ENABLED: true
      POLLING_EVENT_EMITTER_ENABLED: false
      CASE_DOCUMENT_AM_URL: http://ccd-case-document-am-api-aat.service.core-compute-aat.internal
      DOCUMENT_MANAGEMENT_SECURED: true
      RD_PROFESSIONAL_API_URL: http://rd-professional-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      RD_COMMONDATA_API_URL: http://rd-commondata-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
      SEND_LETTER_URL: http://rpe-send-letter-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal

xui-webapp:
  enabled: true
  nodejs:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-xui-webapp
    image: hmctspublic.azurecr.io/xui/webapp:latest
    ingressHost: xui-${SERVICE_FQDN}
    memoryRequests: 2Gi
    cpuRequests: 2000m
    memoryLimits: 4Gi
    cpuLimits: 3500m
    devmemoryRequests: 6Gi
    devcpuRequests: 2000m
    devmemoryLimits: 8Gi
    devcpuLimits: 4500m
    environment:
      FEATURE_ACCESS_MANAGEMENT_ENABLED: true
      HEALTH_CCD_COMPONENT_API: http://${SERVICE_NAME}-ccd-api-gw/health
      HEALTH_CCD_DATA_API: http://${SERVICE_NAME}-ccd-data-store-api/health
      HEALTH_TERMS_AND_CONDITIONS_API: http://xui-terms-and-conditions-${SERVICE_FQDN}.service.core-compute-preview.internal/health
      SERVICES_CCD_COMPONENT_API: http://${SERVICE_NAME}-ccd-api-gw
      SERVICES_CCD_DATA_STORE_API: http://${SERVICE_NAME}-ccd-data-store-api
      SERVICES_DOCUMENTS_API_V2: http://${SERVICE_NAME}-cdam
      SERVICES_TERMS_AND_CONDITIONS: http://xui-terms-and-conditions-${SERVICE_FQDN}.service.core-compute-preview.internal
      JURISDICTIONS: CIVIL
      LAUNCH_DARKLY_CLIENT_ID: ~
      SERVICES_CCD_CASE_ASSIGNMENT_API: http://${SERVICE_NAME}-aac-manage-case-assignment

ccd:
  enabled: true
  ccd:
    adminWeb:
      enabled: false
    apiGatewayWeb:
      enabled: true
    definitionImporter:
      enabled: false
    managementWeb:
      enabled: false
    s2s:
      enabled: false
    postgresql:
      enabled: false
    ras:
      enabled: false
    userProfileImporter:
      enabled: false
    userProfile:
      enabled: false
  global:
    ccdApiGatewayIngress: http://${SERVICE_NAME}-ccd-api-gw
    ccdDataStoreUrl: http://${SERVICE_NAME}-ccd-data-store-api
    ccdStitchUrl: http://${SERVICE_NAME}-emstitch
    ccdDefinitionStoreUrl: http://${SERVICE_NAME}-ccd-definition-store
    ccdUserProfileUrl: http://ccd-user-profile-api-aat.service.core-compute-aat.internal
    dmStoreUrl: http://dm-store-aat.service.core-compute-aat.internal
    idamApiUrl: https://idam-api.aat.platform.hmcts.net
    idamWebUrl: https://idam-web-public.aat.platform.hmcts.net
    s2sUrl: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    postgresSecret: postgres

  ccd-api-gateway-web:
    nodejs:
      image: hmctspublic.azurecr.io/ccd/api-gateway-web:latest
      imagePullPolicy: Always
      environment:
        ADDRESS_LOOKUP_TOKEN: ${ADDRESS_LOOKUP_TOKEN}
        IDAM_SERVICE_KEY: ${CCD_API_GATEWAY_S2S_SECRET}
        IDAM_OAUTH2_CLIENT_SECRET: ${CCD_API_GATEWAY_IDAM_CLIENT_SECRET}
        PROXY_DOCUMENT_MANAGEMENT: http://dm-store-aat.service.core-compute-aat.internal
      ingressHost: gateway-${SERVICE_FQDN}
      ingressIP: ${INGRESS_IP}
      keyVaults: []
  ccd-data-store-api:
    java:
      imagePullPolicy: Always
      devcpuRequests: 500m
      devmemoryRequests: 4096Mi
      devmemoryLimits: 8192Mi
      autoscaling:
        enabled: false
      environment:
        CASE_DOCUMENT_AM_API_ATTACH_DOCUMENT_ENABLED: true
        DATA_STORE_DB_HOST: ${SERVICE_NAME}-postgresql
        DATA_STORE_IDAM_KEY: ${CCD_DATA_STORE_S2S_SECRET}
        DATA_STORE_DB_OPTIONS: "?stringtype=unspecified"
        DATA_STORE_DB_PASSWORD: ${POSTGRES_PASSWORD}
        DATA_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_ps,bulk_scan_orchestrator,ccpay_bubble,ctsc_work_allocation,em_ccd_orchestrator,xui_webapp,civil_service,ccd_case_document_am_api,aac_manage_case_assignment
        IDAM_API_BASE_URL: https://idam-api.aat.platform.hmcts.net
        IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
        OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
        CCD_S2S_AUTHORISED_SERVICES_CASE_USER_ROLES: civil_service,aac_manage_case_assignment
        CASE_DOCUMENT_AM_URL: http://${SERVICE_NAME}-cdam
        IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET: ${IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET}
        IDAM_DATA_STORE_SYSTEM_USER_USERNAME: ${IDAM_DATA_STORE_SYSTEM_USER_USERNAME}
        IDAM_DATA_STORE_SYSTEM_USER_PASSWORD: ${IDAM_DATA_STORE_SYSTEM_USER_PASSWORD}
        CCD_MULTIPARTY_FIX_ENABLED: true
        CCD_MULTIPARTY_LOG_LEVEL: DEBUG
        CCD_MULTIPARTY_CASE_TYPES: CIVIL
        CCD_MULTIPARTY_EVENTS: DEFENDANT_RESPONSE,ACKNOWLEDGE_CLAIM,CLAIMANT_RESPONSE,queryManagementRaiseQuery,queryManagementRespondQuery
        ROLE_ASSIGNMENT_URL: http://am-role-assignment-service-aat.service.core-compute-aat.internal
      secrets:
        DATA_STORE_DB_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true
      keyVaults: []
      ingressHost: ccd-data-store-api-${SERVICE_FQDN}

  ccd-definition-store-api:
    java:
      imagePullPolicy: Always
      devcpuRequests: 500m
      devmemoryRequests: 512Mi
      devcpuLimits: 2
      devmemoryLimits: 1Gi
      environment:
        DEFINITION_STORE_DB_HOST: ${SERVICE_NAME}-postgresql
        DEFINITION_STORE_DB_OPTIONS: "?stringtype=unspecified"
        DEFINITION_STORE_DB_PASSWORD: ${POSTGRES_PASSWORD}
        DEFINITION_STORE_IDAM_KEY: ${CCD_DEFINITION_STORE_S2S_SECRET}
        IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
        DEFINITION_STORE_TX_TIMEOUT_DEFAULT: 60
        WELSH_TRANSLATION_ENABLED: false
      secrets:
        DEFINITION_STORE_DB_PASSWORD:
          secretRef: "{{ .Values.global.postgresSecret }}"
          key: PASSWORD
          disabled: true
      keyVaults: []
      ingressHost: ccd-definition-store-${SERVICE_FQDN}

  postgresql:
    persistence:
      enabled: false

camunda-bpm:
  enabled: true
  java:
    disableKeyVaults: true
    releaseNameOverride: ${SERVICE_NAME}-camunda
    ingressHost: camunda-${SERVICE_FQDN}
    devcpuRequests: 500m
    devmemoryRequests: 1024Mi
    devcpuLimits: 1
    devmemoryLimits: 1Gi
    environment:
      CAMUNDA_API_AUTH_ENABLED: false
      CAMUNDA_DB_HOST: ${SERVICE_NAME}-postgresql
      CAMUNDA_DB_NAME: camunda
      CAMUNDA_DB_USER_NAME: ${POSTGRES_USER}
      CAMUNDA_DB_PASSWORD: ${POSTGRES_PASSWORD}
      CAMUNDA_BPM_DATABASE_SCHEMA_UPDATE: true
      S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      CAMUNDA_DB_CONN_OPTIONS: ""

aac-manage-case-assignment:
  enabled: true
  java:
    disableKeyVaults: true
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-aac-manage-case-assignment
    image: hmctspublic.azurecr.io/aac/manage-case-assignment:latest
    ingressHost: manage-case-assignment-${SERVICE_NAME}.preview.platform.hmcts.net
    environment:
      IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
      IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts
      S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      MCA_DS_PROXY_URLS_ALLOWED_LIST: /searchCases.*,/internal/searchCases.*,/internal/cases.*
      MCA_DEF_STORE_PROXY_URLS_ALLOWED_LIST: /api/display/challenge-questions.*
      MANAGE_CASE_S2S_AUTHORISED_SERVICES: xui_webapp,ccd_data,fpl_case_service,divorce_frontend,divorce_ccd_submission,finrem_case_orchestration,civil_service
      CCD_DATA_STORE_API_BASE_URL: http://${SERVICE_NAME}-ccd-data-store-api
      CCD_DEFINITION_STORE_API_BASE_URL: http://${SERVICE_NAME}-ccd-definition-store
      PRD_HOST: http://rd-professional-api-aat.service.core-compute-aat.internal
      IDAM_CAA_USERNAME: ${IDAM_CAA_USERNAME}
      IDAM_CAA_PASSWORD: ${IDAM_CAA_PASSWORD}
      IDAM_CLIENT_SECRET: ${IDAM_MCA_CLIENT_SECRET}
      MANAGE_CASE_S2S_KEY: ${MANAGE_CASE_S2S_KEY}
      IDAM_NOC_APPROVER_USERNAME: ${IDAM_NOC_APPROVER_USERNAME}
      IDAM_NOC_APPROVER_PASSWORD: ${IDAM_NOC_APPROVER_PASSWORD}
      NOTIFY_MCA_API_KEY: ${NOTIFY_MCA_API_KEY}
    autoscaling:
      enabled: false

em-ccdorc:
  enabled: true
  java:
    image: hmctspublic.azurecr.io/em/ccdorc:latest
    releaseNameOverride: ${SERVICE_NAME}-em-ccdorc
    ingressHost: em-ccdorc-${SERVICE_FQDN}
    environment:
      IDAM_API_BASE_URI: https://idam-api.aat.platform.hmcts.net
      OPEN_ID_API_BASE_URI: https://idam-web-public.aat.platform.hmcts.net/o
      S2S_BASE_URI: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      EM_STITCHING_API_URL: https://em-stitching-${SERVICE_FQDN}
      DM_STORE_APP_URL: http://dm-store-aat.service.core-compute-aat.internal
      CCD_DATA_API_URL: http://${SERVICE_NAME}-ccd-data-store-api
      CALLBACK_HTTP_SCHEME: https
      CALLBACK_DOMAIN: em-ccdorc-${SERVICE_FQDN}
    keyVaults:
      em-ccdorc:
        resourceGroup: em-ccdorc
        secrets:
          - name: microservicekey-em-ccd-orchestrator
            alias: S2S_KEY
          - name: notification-api-key
            alias: NOTIFICATION_API_KEY

em-stitching:
  enabled: true
  java:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-em-stitching
    image: hmctspublic.azurecr.io/em/stitching:latest
    ingressHost: em-stitching-${SERVICE_FQDN}
    environment:
      IDAM_API_BASE_URI: https://idam-api.aat.platform.hmcts.net
      OPEN_ID_API_BASE_URI: https://idam-web-public.aat.platform.hmcts.net/o
      S2S_BASE_URI: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      DM_STORE_APP_URL: http://dm-store-aat.service.core-compute-aat.internal
      CDAM_URL: http://${SERVICE_NAME}-cdam
      SPRING_DATASOURCE_HOST: ${SERVICE_NAME}-postgresql
      SPRING_DATASOURCE_NAME: emstitch
      SPRING_DATASOURCE_OPTIONS: "?ssl=disable"
      SPRING_DATASOURCE_PORT: 5432
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      ENABLE_DB_MIGRATE: true
      RUN_DB_MIGRATION_ON_STARTUP: true
      FLYWAY_POSTGRESQL_TRANSACTIONAL_LOCK: false
      LOGGING_LEVEL_UK_GOV_HMCTS_REFORM_EM: DEBUG
    keyVaults:
      em-stitching:
        resourceGroup: em-stitching
        secrets:
          - name: docmosis-access-key
            alias: DOCMOSIS_ACCESS_KEY
          - name: microservicekey-em-stitching-api
            alias: S2S_KEY

ccd-case-document-am-api:
  enabled: true
  java:
    releaseNameOverride: ${SERVICE_NAME}-cdam
    imagePullPolicy: Always
    image: hmctspublic.azurecr.io/ccd/case-document-am-api:latest
    ingressHost: ccd-case-document-am-api-${SERVICE_FQDN}
    environment:
      IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
      IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts
      S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      DM_STORE_BASE_URL: http://dm-store-aat.service.core-compute-aat.internal
      CCD_DATA_STORE_API_BASE_URL: http://${SERVICE_NAME}-ccd-data-store-api
      CASE_DOCUMENT_AM_API_S2S_SECRET: ${CASE_DOCUMENT_AM_API_S2S_SECRET}
    keyVaults: []

wiremock:
  enabled: true
  image: "wiremock/wiremock"
  applicationPort: 8080
  imagePullPolicy: Always
  releaseNameOverride : ${SERVICE_NAME}-wiremock
  ingressHost: wiremock-${SERVICE_NAME}.preview.platform.hmcts.net
  volumes:
    - name: wiremock-mocks
      configMap:
        name: ${SERVICE_NAME}-wiremock-wm
  volumeMounts:
    - name: wiremock-mocks
      mountPath: /home/wiremock/mappings
      subPath: mappings
