name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - refs/tags/*
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Cache
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle-
      - name: Check Docker Version
        run: docker --version
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: 21
      - name: Check Java Version
        run: java --version
      - name: Run checks
        run: ./gradlew check
      - name: Run integration tests
        run: ./gradlew integration
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: integration-tests-results
          path: build/reports/tests/integration
