name: Check PR title and project linting
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  lint:
    if: "!contains(github.event.pull_request.head.ref, 'renovate') && !contains(github.event.pull_request.head.ref, 'dependabot')"
    runs-on: ubuntu-latest
    steps:
    - uses: deepakputhraya/action-pr-title@master
      with:
        regex: '^(CIV-[0-9]{3,5} [a-zA-Z0-9._\- ]+)|(CIV-TASK [a-zA-Z0-9._\- ]+)|(\[Snyk\].+)$' # Regex the title should match.
        allowed_prefixes: 'CIV-,[Snyk]' # title should start with the given prefix
        prefix_case_sensitive: true # title prefix are case insensitive:
